#b1{
 background-image: url("img/b.jpg");
}

#d2 { 
margin-left:190px;
   width:70%; 
   height:115%;
  position:absolute;
 float:left;
font-family:arial;
}
 


#t1{
width:100%;
height:40px;
  text-align: center;
border: 3px solid black;
font-color:#f65e5e;

}

#c1:hover,a:hover { 
    background-color: 	#ffe1e1;
	font-size:20px;
color:black;
}
a {
    color: #ff3737;
}

#p1{
font-size:21px;
font-family:Times new roman;
}